body {
    background-color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
}

main {
    display:flex;
    /* justify-content: space-around; */
    flex-direction: row;
}

.search {
    min-width: 250px;
    padding: 2.5%;
    margin: 0 0 20px 0;
    border: 3px solid rgb(0, 140, 255);

}
.cities {
    min-width: 250px;
    padding: 2.5%;
    margin: 0 0 20px 0;
    border: 3px solid rgb(0, 140, 255);
   
    
}

.forecast {
    padding: 20px;
    margin: 20px;
    color: white;
    min-width: 200px;
    background-color: darkblue;
    border: 3px solid rgb(0, 140, 255);
   
}
.projected li{
    text-align: left;
    font-size: 16px;
}
.city-header {
   width: 100%;
    padding: 2.5%;
    margin: 0 0 20px 0;
    border: 3px solid rgb(0, 140, 255);

}
.city-name {
    font-size: 34px;
}
.stats {
    font-size: 18px;
}

#city-search {
    width: 100%;
}

.search-btn {
    width: 100%;
    color: white;
    text-shadow: 0.5px 0.5px blue;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid blue;
    border-radius: 3px;
    background-color: rgb(0, 140, 255);
}

.city-btn {
    width: 100%;
    color: white;
    text-shadow: 0.5px 0.5px blue;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    border:1px solid blue;
    border-radius: 3px;
    background-color: rgb(0, 140, 255);
}
.search-title {
    font-size: 28px;
    text-align: center;
}

.app-title {
    font-size: 48px;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    box-shadow: 6px 5px gray;
  }
 
  @media only screen and (max-width:1150px) {
    main {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
    /* .right-screen {
       display: flex;
       flex-direction: column;
       
       
    } */

    .search {
        min-width: none;
        margin-right: 200px;
        width: 100%;
    }
    
    .city-header {
       max-height: fit-content;
       max-width: 600px;
       /* margin: auto; */
    }
    .cities {
    display: none;
    }
  }

  @media only screen and (max-width:654px) {
    .forecast {
        width: 100%;
    }
  }